*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 900px;
    border: 1px solid #000;
    margin: auto;
}
.container .bd{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 1053px;
    border: 1px solid #000;
    margin: auto;
     background-image: url(../img/bg.webp);
    object-fit: cover;
    background-size: cover;
}
.container .header{
    display: flex;
    flex-direction: row;
    border: 1px solid #000;
    width: 100%;
    height: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow:1;
    margin-top: 15px;
}
.container .header .header-logo{
    display: flex;
    flex-direction: row;
    /* border: 1px solid #949292; */
    flex-basis: 20%;
    align-items: flex-start;
    height: 80px;
    align-items: center;
    position: relative;
    
}
.container .header .header-logo h1{
    text-align: center;
    margin-left: 35px;
    font-style: italic;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 55px;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.container .header .header-menu{
    display: flex;
    flex-direction: row;
    /* border: 1px solid #d1d0d0; */
    flex-basis: 40%;
    height: 80px;
}
.container .header .header-menu ul{
    display: flex;
    list-style: none;
    gap: 10px;
    align-items: center;
    width: 100%;
    justify-content: center;
    justify-content: space-evenly;
}
.container .header .header-menu ul li a{
   text-decoration: none;
    color: rgb(235, 229, 229);
    font-weight: 200;
    font-size: 28px;
    color: white;
} 
.container .header .header-menu ul li a:hover{
    color: orange;
    font-weight: 400;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}  
.container .header .header-buttons{
    display: flex;
    flex-direction: row;
    flex-basis: 30%;
    height: 80px;
    /* border: 1px solid #f2f0f0; */
    flex-wrap: wrap
}
.container .header .header-buttons .buttons{
    /* border: 1px solid #efeaea; */
    flex-basis: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.container .header .header-buttons .buttons .box{
    flex-basis: 32%;
    justify-content: space-between;
    /* border: 1px solid #eee7e7; */
    height: 50px;
    width: 20px;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
}
.container .header .header-buttons .buttons .box:hover
{
    background-color: orange;
}
.container .header .header-buttons .buttons .box img{
    width: 100%;
    height: 100%;
}
.container .header .header-buttons .order-button{
    /* border: 1px solid #e1dede; */
    flex-basis: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.container .header .header-buttons .order-button button{
    width: 100%;
    height: 100%;
    background-color: orange;
    color: white;
    font-size: 25px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}